

.animation--fade-leave-active, .animation--fade-enter-active {
    transition: opacity var(--animation-duration-m) var(--animation-function);
}
.animation--fade-enter-from, .animation--fade-leave-to {
    opacity: 0;
}
.animation--fade-leave-from, .animation--fade-enter-to {
    opacity: 1;
}

.animation--slide-out-leave-active, .animation--slide-in-enter-active {
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.animation--slide-in-leave-active nav, .animation--slide-out-enter-active nav, .animation--slide-in-leave-active .fab-container, .animation--slide-out-enter-active .fab-container {
    transition: transform var(--animation-duration-l) var(--animation-function);
}

.animation--slide-in-leave-active .fab-container { transform: translateX(-50%) translateY(150%); }
.animation--slide-in-leave-from .fab-container { transform: translateX(-50%) translateY(50%); }
.animation--slide-out-enter-active .fab-container { transform: translateX(-50%) translateY(50%); }
.animation--slide-out-enter-from .fab-container { transform: translateX(-50%) translateY(150%); }

.animation--slide-in-leave-active nav { transform: translateY(100%); }
.animation--slide-in-leave-from nav { transform: translateY(0%); }
.animation--slide-out-enter-active nav { transform: translateY(0%); }
.animation--slide-out-enter-from nav { transform: translateY(100%); }

.animation--slide-in-leave-active, .animation--slide-out-enter-active {
    transition: opacity var(--animation-duration-l) var(--animation-function);
}
.animation--slide-in-leave-active { opacity: 0; }
.animation--slide-in-leave-from { opacity: 1; }
.animation--slide-out-enter-active { opacity: 1; }
.animation--slide-out-enter-from { opacity: 0; }


.animation--slide-in-leave-active .view, .animation--slide-out-enter-active .view {
    transition-property: transform;
    transition-duration: var(--animation-duration-l);
    transition-timing-function: var(--animation-function);
    transform-origin: 50vw 50vh;
    scrollbar-color: transparent transparent;
}
.animation--slide-in-leave-active .view::-webkit-scrollbar, .animation--slide-out-enter-active .view::-webkit-scrollbar {
    display: none;
}
.animation--slide-in-leave-active .view { transform: perspective(40cm) translateZ(-100px); }
.animation--slide-in-leave-from .view { transform: perspective(40cm) translateZ(0px); }
.animation--slide-out-enter-active .view { transform: perspective(40cm) translateZ(0px); }
.animation--slide-out-enter-from .view { transform: perspective(40cm) translateZ(-100px); }

.animation--slide-in-enter-active, .animation--slide-out-leave-active {
    transition-property: transform, opacity;
    transition-duration: var(--animation-duration-l);
    transition-timing-function: var(--animation-function);
}
.animation--slide-in-enter-active {
    transform: translateY(0px);
    opacity: 1;
}
.animation--slide-in-enter-from {
    opacity: 0;
    transform: translateY(30vh);
}
.animation--slide-out-leave-active {
    transform: translateY(30vh);
    opacity: 0;
    
}
.animation--slide-out-leave-from {
    opacity: 1;
    transform: translateY(0px);
}

.animation--slide-left-enter-active .view, .animation--slide-left-leave-active .view, .animation--slide-right-leave-active .view, .animation--slide-right-enter-active .view {
    transition-property: transform;
    transition-duration: var(--animation-duration-l);
    transition-timing-function: var(--animation-function);
    scrollbar-color: transparent transparent;
}
.animation--slide-left-enter-active .view::-webkit-scrollbar, .animation--slide-left-leave-active .view::-webkit-scrollbar, .animation--slide-right-leave-active .view::-webkit-scrollbar, .animation--slide-right-enter-active .view::-webkit-scrollbar {
    display: none;
}

.animation--slide-left-leave-active .view, .animation--slide-right-leave-active .view {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(100vh - var(--navigation-height));
    overflow-y: auto;
    box-sizing: border-box;
}

.animation--slide-left-leave-active .fab-container, .animation--slide-right-leave-active .fab-container, .animation--slide-left-enter-active .fab-container, .animation--slide-right-enter-active .fab-container {
    transition: transform var(--animation-duration-l) var(--animation-function), opacity var(--animation-duration-l) var(--animation-function);
}

.animation--slide-left-leave-active .fab-container { transform: translateX(calc(-50% - 100px)) translateY(50%); opacity: 0; }
.animation--slide-left-leave-from .fab-container { transform: translateX(-50%) translateY(50%); opacity: 1; }
.animation--slide-right-leave-active .fab-container { transform: translateX(calc(-50% + 100px)) translateY(50%); opacity: 0; }
.animation--slide-right-leave-from .fab-container { transform: translateX(-50%) translateY(50%); opacity: 1; }
.animation--slide-left-enter-active .fab-container { transform: translateX(-50%) translateY(50%) scale(1); opacity: 1; }
.animation--slide-left-enter-from .fab-container { transform: translateX(calc(-50% + 100px)) translateY(50%); opacity: 0; }
.animation--slide-right-enter-active .fab-container { transform: translateX(-50%) translateY(50%) scale(1); opacity: 1; }
.animation--slide-right-enter-from .fab-container { transform: translateX(calc(-50% - 100px)) translateY(50%); opacity: 0; }

.animation--slide-left-leave-active .view { transform: translateX(-100%); }
.animation--slide-left-leave-from .view { transform: translateX(0%); }
.animation--slide-left-enter-active .view { transform: translateX(0%); }
.animation--slide-left-enter-from .view { transform: translateX(100%); }
.animation--slide-right-leave-active .view { transform: translateX(100%); }
.animation--slide-right-leave-from .view { transform: translateX(0%); }
.animation--slide-right-enter-active .view { transform: translateX(0%); }
.animation--slide-right-enter-from .view { transform: translateX(-100%); }


.animation-display-mode .svg-1, .animation-display-mode .svg-2, .animation-display-mode .svg-3, .animation-display-mode .svg-4 {
    transition: transform var(--animation-duration-l) var(--animation-function);
}

.animation-display-mode.animation-display-mode--grid .svg-1 {
    transform: translateX(12.5%) translateY(12.5%);
}
.animation-display-mode.animation-display-mode--grid .svg-2 {
    transform: translateX(57.5%) translateY(12.5%);
}
.animation-display-mode.animation-display-mode--grid .svg-3 {
    transform: translateX(12.5%) translateY(57.5%);
}
.animation-display-mode.animation-display-mode--grid .svg-4 {
    transform: translateX(57.5%) translateY(57.5%);
}

.animation-display-mode.animation-display-mode--list .svg-1 {
    transform: translateX(12.5%) translateY(12.5%) scale(2.5, 0.5);
}
.animation-display-mode.animation-display-mode--list .svg-2 {
    transform: translateX(12.5%) translateY(42.5%) scale(2.5, 0.5);
}
.animation-display-mode.animation-display-mode--list .svg-3 {
    transform: translateX(12.5%) translateY(72.5%) scale(2.5, 0.5);
}
.animation-display-mode.animation-display-mode--list .svg-4 {
    transform: translateX(12.5%) translateY(102.5%) scale(2.5, 0.5);
}

.list-move, .list-enter-active, .list-leave-active {
    transition: all var(--animation-duration-m) var(--animation-function);
}

.list-enter-from, .list-leave-active{
    opacity: 0;
    transform: scale(0.01);
}

.list-leave-active {
    position: absolute;
}

.reflection-animation {
    animation-name: reflection;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    background: linear-gradient(105deg, rgba(0,0,0,0) 40%, rgba(32,32,32,1) 50%, rgba(0,0,0,0) 85%);
    background-size: 600%;
}

@keyframes reflection {
    0% {
      background-position: center left;
    }
    100% {
        background-position: center right;
    }
}