

.animation--fade-leave-active, .animation--fade-enter-active {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: var(--animation-function);
}
.animation--fade-enter, .animation--fade-leave-to {
    opacity: 0;
}
.animation--fade-leave, .animation--fade-enter-to {
    opacity: 1;
}

.animation--slide-out-leave-active, .animation--slide-in-enter-active {
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.animation--slide-in-leave-active, .animation--slide-out-enter-active {
    transition-property: opacity;
    transition-duration: var(--animation-duration-l);
    transition-timing-function: var(--animation-function);
}
.animation--slide-in-leave-active { opacity: 0; }
.animation--slide-in-leave { opacity: 1; }
.animation--slide-out-enter-active { opacity: 1; }
.animation--slide-out-enter { opacity: 0; }


.animation--slide-in-leave-active .view, .animation--slide-out-enter-active .view {
    transition-property: transform;
    transition-duration: var(--animation-duration-l);
    transition-timing-function: var(--animation-function);
}
.animation--slide-in-leave-active .view { transform: translateY(-40px); }
.animation--slide-in-leave .view { transform: translateY(0px); }
.animation--slide-out-enter-active .view { transform: translateY(0px); }
.animation--slide-out-enter .view { transform: translateY(-40px); }

.animation--slide-in-enter-active, .animation--slide-out-leave-active {
    transition-property: transform, opacity;
    transition-duration: var(--animation-duration-l);
    transition-timing-function: var(--animation-function);
}
.animation--slide-in-enter-active {
    transform: translateY(0px);
    opacity: 1;
}
.animation--slide-in-enter {
    opacity: 0;
    transform: translateY(100px);
}
.animation--slide-out-leave-active {
    transform: translateY(100px);
    opacity: 0;
    
}
.animation--slide-out-leave {
    opacity: 1;
    transform: translateY(0px);
}

.animation--slide-left-enter-active .view, .animation--slide-left-leave-active .view, .animation--slide-right-leave-active .view, .animation--slide-right-enter-active .view {
    transition-property: transform;
    transition-duration: var(--animation-duration-l);
    transition-timing-function: var(--animation-function);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.animation--slide-left-leave-active .fab-container, .animation--slide-right-leave-active .fab-container, .animation--slide-left-enter-active .fab-container, .animation--slide-right-enter-active .fab-container {
    transition-property: left;
    transition-duration: var(--animation-duration-l);
    transition-timing-function: var(--animation-function);
}

.animation--slide-left-leave-active .fab-container { left: -50%; }
.animation--slide-right-leave-active .fab-container { left: 150%; }
.animation--slide-left-enter-active .fab-container { left: 50%; }
.animation--slide-left-enter .fab-container { left: 150%; }
.animation--slide-right-enter-active .fab-container { left: 50%; }
.animation--slide-right-enter .fab-container { left: -50%; }

.animation--slide-left-leave-active .view { transform: translateX(-100%); }
.animation--slide-left-leave .view { transform: translateX(0%); }
.animation--slide-left-enter-active .view { transform: translateX(0%); }
.animation--slide-left-enter .view { transform: translateX(100%); }
.animation--slide-right-leave-active .view { transform: translateX(100%); }
.animation--slide-right-leave .view { transform: translateX(0%); }
.animation--slide-right-enter-active .view { transform: translateX(0%); }
.animation--slide-right-enter .view { transform: translateX(-100%); }
