:root {
    --unit-s: 8px;
    --unit-m: 16px;
    --unit-l: 32px;

    --color-primary-darker: #846021;
    --color-primary: #F0AD2B;
    --color-primary-lighter: #F4C360;
    --color-border: #383838;
    --color-bg: #171117;
    --color-bg-secondary: #2F1533;
    --color-fg: #F1F1F1;
    --color-fg-secondary: #7A7A7A;

    --color-danger: #C51919;

    --color-hate: #C51919;
    --color-dislike: #A15C5C;
    --color-ok: #A19844;
    --color-like: #64975a;
    --color-love: #35D115;

    --color-hover: rgba(255, 255, 255, 0.03);
    --color-active: rgba(255, 255, 255, 0.08);

    --font-l: 1.35rem;
    --font-s: 0.85rem;

    --navigation-height: 60px;

    --animation-duration-l: 0.3s;
    --animation-duration-m: 0.2s;
    --animation-function: cubic-bezier(0.33, 1, 0.68, 1);
}

body, html {
    height: 100%
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0px;
    padding: var(--unit-m) 0px;
}

h2 {
    font-size: var(--font-l);
    font-weight: lighter;
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--color-primary)
}

.view-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: var(--unit-m);
    max-width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 0px var(--unit-s) var(--unit-m) var(--unit-s);
    flex-grow: 1;
}

@media (min-width: 960px) {
    .view-content {
        max-width: 960px;
    }
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--color-bg);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .action {
    position: absolute;
    right: 0;
    z-index: 1;
}

header .action.action--no-padding {
    right: 0;
}


::selection {
    background-color: var(--color-primary-darker);
    color: var(--color-fg);
}

::-moz-selection {
    background-color: var(--color-primary-darker);
    color: var(--color-fg);
}

nav {
    box-sizing: border-box;
    border-top: solid 1px var(--color-border);
    position: fixed;
    left: 0;
    bottom: 0;
    height: var(--navigation-height);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0a050a;
}

.navigation-view {
    padding-bottom: var(--navigation-height);
    overflow-x: hidden;
}

.navigation-item {
    color: var(--color-fg);
    font-size: var(--font-s);
    padding: 12px var(--unit-l);
    border-radius: 20px;
    cursor: default;
}
.navigation-item:hover {
    background-color: var(--color-hover);
}
.navigation-item.router-link-exact-active {
    background-color: var(--color-active);
}