.bar {
    border-radius: 4px;
    background-color: var(--color-border);
}

.bar.bar--y { width: var(--unit-s); }
.bar--y.bar--intensity-1 { height: 4%; }
.bar--y.bar--intensity-2 { height: 25%; }
.bar--y.bar--intensity-3 { height: 50%; }
.bar--y.bar--intensity-4 { height: 75%; }
.bar--y.bar--intensity-5 { height: 100%; }

.bar.bar--x { height: var(--unit-s); }
.bar--x.bar--intensity-1 { width: 4%; }
.bar--x.bar--intensity-2 { width: 25%; }
.bar--x.bar--intensity-3 { width: 50%; }
.bar--x.bar--intensity-4 { width: 75%; }
.bar--x.bar--intensity-5 { width: 100%;}

.bar--quality-1 { background-color: var(--color-hate); }
.bar--quality-2 { background-color: var(--color-dislike); }
.bar--quality-3 { background-color: var(--color-ok); }
.bar--quality-4 { background-color: var(--color-like); }
.bar--quality-5 { background-color: var(--color-love); }
.bar--active { background-color: var(--color-primary); }

.scale {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
}

.scale__tick {
    width: 1px;
    transform: translateY(-50%);
    height: var(--unit-m);
    background-color: var(--color-border);
}