.btn {
    cursor: pointer;
    background-color: transparent;
    border-radius: var(--unit-s);
    padding: var(--unit-s) var(--unit-m);
    font-size: 1rem;
    transition: background-color 180ms ease;
    border: none;
    text-decoration: none;
}

.btn:active {
    transition-duration: 0ms;
}

.btn--primary {
    color: var(--color-primary);
}

.btn--primary:active, .btn--secondary:active {
    background-color: rgba(255, 255, 255, 0.08);
}

.btn--secondary {
    color: var(--color-fg);
    background-color: transparent;
}

.btn-fab {
    cursor: pointer;
    position: fixed;
    bottom: var(--navigation-height);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
    background-color: var(--color-primary);
    padding: 0px 20px;
    height: 40px;
    border-radius: var(--unit-s);
    font-size: 1rem;
    border: none;
    transition: background-color ease 320ms;
    text-decoration: none;
    transform: translateX(-50%) translateY(50%);
    z-index: 2;
    font-weight: bold;
}

.btn-fab:active {
    background-color: var(--color-primary-lighter);
    transition-duration: 0ms;
}