.btn {
    background-color: transparent;
    border-radius: var(--unit-s);
    padding: var(--unit-s) var(--unit-m);
    font-size: 1rem;
    transition: background-color 180ms ease;
    border: none;
    text-decoration: none;
    white-space: nowrap;
}

.btn:active {
    transition-duration: 0ms;
}

.btn--primary {
    color: var(--color-primary);
}

.btn--primary:hover, .btn--secondary:hover {
    background-color: var(--color-hover);
}

.btn--primary:active, .btn--secondary:active {
    background-color: var(--color-active);
}

.btn--secondary {
    color: var(--color-fg);
    background-color: transparent;
}

.btn-fab {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
    background-color: var(--color-primary);
    padding: 0px 20px;
    height: 40px;
    border-radius: var(--unit-s);
    font-size: 1rem;
    border: none;
    transition: background-color ease 320ms;
    text-decoration: none;
    font-weight: bold;
}

.btn-fab:active {
    background-color: var(--color-primary-lighter);
    transition-duration: 0ms;
}

.btn-fab.btn-fab--entity {
    font-size: 1.6rem;
    font-family: monospace;
}

.btn-fab.btn-fab--danger {
    background-color: var(--color-danger);
}

.btn.btn--icon {
    width: 34px;
}
.btn.btn--icon img {
    width: 100%;
    display: block;
}

.btn.btn--square {
    padding: var(--unit-s);
}