.form {
    display: flex;
    flex-direction: column;
    gap: var(--unit-m);
}

.input-simple {
    background-color: transparent;
    border-radius: 100px;
    padding: var(--unit-s) var(--unit-m);
    width: 100%;
    flex-grow: 1;
    border: 1px solid var(--color-border);
    color: var(--color-fg);
    font-size: 1rem;
}

.input-simple.input-simple--active {
    border-color: var(--color-primary);
}

.input__label {
    font-size: var(--font-s);
    font-weight: lighter;
}

.input__label--inline {
    flex-basis: 20%;
    flex-shrink: 0;
    font-size: var(--font-m);
    text-overflow: ellipsis;
    overflow: hidden;
}

.input__button {
    position: absolute;
    right: var(--unit-s);
}

.rating {
    box-sizing: border-box;
    color: var(--color-fg);
    border-radius: 100px;
    background-color: transparent;
    border: none;
    width: 44px;
    height: 44px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: emoji;
    transition: background-color ease 180ms;
}

.rating:active {
    background-color: var(--color-active);
    transition-duration: 0ms;
}

.rating--active {
    color: var(--color-primary);
}

textarea {
    resize: none;
}

select {
    background-color: transparent;
    border: none;
    padding: var(--unit-s);
    color: var(--color-border);
    border-radius: var(--unit-s);
    font-size: 1rem;
}

.autocomplete {
    display: none;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    bottom: 100%;
    right: 0;
    max-height: 150px;
    width: 60%;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--color-bg);
    border-radius: 16px;
    border: 1px solid var(--color-primary);
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.autocomplete.autocomplete--visible {
    display: flex;
}

.autocomplete__item {
    box-sizing: border-box;
    color: var(--color-fg);
    padding: var(--unit-m);
    background-color: transparent;
    white-space: nowrap;
    border: none;
}

input[type="file"] {
    border: dashed 3px var(--color-border);
    border-radius: var(10px);
    text-align: center;
    padding: var(--unit-l);
}

.input-option {
    border-radius: 20px;
    border: solid 1px var(--color-border);
    color: var(--color-fg);
    padding: var(--unit-s) var(--unit-m);
    background-color: transparent;
    white-space: nowrap;
}

.input-option.input-option--active {
    color: var(--color-primary);
    border-color: var(--color-primary) !important;
}