.form {
    display: flex;
    flex-direction: column;
    gap: var(--unit-s);
}

.input {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: var(--unit-s);
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var(--unit-s);
}

.input:focus-within {
    border-color: var(--color-primary-darker);
}

.input__label {
    font-size: var(--font-s);
    font-weight: lighter;
}

.input__button, .rating {
    box-sizing: border-box;
    cursor: pointer;
    color: var(--color-fg);
    border-radius: var(--unit-s);
    background-color: transparent;
    border: none;
    width: 44px;
    height: 44px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: emoji;
    transition: background-color ease 180ms;
}

.input__button.input__button--split {
    font-size: 0.8rem;
    height: 24px;
}

.input__button:active, .rating:active {
    background-color: var(--color-active);
    transition-duration: 0ms;
}

.rating--active {
    color: var(--color-primary);
}

textarea {
    resize: none;
}

.input input, .input textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--color-fg);
    font-size: 16px;
    padding: var(--unit-s) 0px;
}

.input input:focus {
    outline: none
}

select {
    background-color: transparent;
    border: none;
    padding: var(--unit-s);
    color: var(--color-border);
    border-radius: var(--unit-s);
    font-size: 1rem;
}

.toggle {
    display: flex;
    gap: var(--unit-m);
}
.toggle.toggle--merge {
    gap: 0;
}

.toggle-btn {
    cursor: pointer;
    display: block;
    border: 1px solid var(--color-border);
    border-radius: var(--unit-s);
    padding: var(--unit-s) var(--unit-l);
    background-color: transparent;
    color: var(--color-fg);
    font-size: 1rem;
}
.toggle.toggle--square .toggle-btn {
    padding: var(--unit-s);
}
.toggle.toggle--no-border .toggle-btn {
    border: none
}


.toggle-btn--active {
    color: var(--color-primary);
    border-color: var(--color-primary) !important;
}

.selector-mark {
    box-sizing: border-box;
    width: var(--unit-m);
    height: var(--unit-m);
    border: 2px solid var(--color-border);
    border-radius: 100%;
}

.selector-mark.selector-mark--active {
    border-color: var(--color-primary);
}

.autocomplete {
    display: none;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    top: 100%;
    right: 0;
    max-width: 75%;
    flex-direction: row;
    gap: var(--unit-s);
    overflow-x: auto;
    background-color: var(--color-primary-darker);
    padding: var(--unit-s);
    border-radius: var(--unit-s);
}

.autocomplete.autocomplete--visible {
    display: flex;
}

.autocomplete__item {
    box-sizing: border-box;
    color: var(--color-fg);
    padding: var(--unit-s) var(--unit-m);
    background-color: transparent;
    white-space: nowrap;
    border: none;
}

input[type="file"] {
    border: dashed 3px var(--color-border);
    border-radius: var(10px);
    text-align: center;
    padding: var(--unit-l);
}