.tag {
    border-radius: 100px;
    border: solid 1px var(--color-border);
    color: var(--color-fg);
    padding: var(--unit-s) var(--unit-m);
    background-color: transparent;
    white-space: nowrap;
}

.tag.tag--active {
    border-color: var(--color-primary);
    color: var(--color-primary);
}