.text-bold { font-weight: bold; }

.text-light { font-weight: lighter; }

.text-center { text-align: center; }

.text-secondary { color: var(--color-fg-secondary); }
.text-primary { color: var(--color-primary); }

.text-s { font-size: var(--font-s); }
.text-m { font-size: var(--font-m); }
.text-l { font-size: var(--font-l); }

.mono {
    font-family: monospace;
}