.text-bold { font-weight: bold; }

.text-light { font-weight: lighter; }

.text-center { text-align: center; }
.text-left { text-align: left; }

.text-secondary { color: var(--color-fg-secondary); }
.text-primary { color: var(--color-primary); }
.text-danger { color: var(--color-danger); }

.text-s { font-size: var(--font-s); }
.text-m { font-size: var(--font-m); }
.text-l { font-size: var(--font-l); }

.text-1 { font-size: var(--font-m); }
.text-2 { font-size: calc(var(--font-m) * 1.5); }
.text-3 { font-size: calc(var(--font-m) * 2); }
.text-4 { font-size: calc(var(--font-m) * 3); }
.text-5 { font-size: calc(var(--font-m) * 4); }
.text-6 { font-size: calc(var(--font-m) * 5); }
.text-7 { font-size: calc(var(--font-m) * 6); }

.mono { font-family: monospace; }

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}