.toggle {
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: var(--unit-s) var(--unit-m);
    background-color: transparent;
    color: var(--color-fg);
    white-space: nowrap;
}

.toggle--active {
    color: var(--color-primary);
    border-color: var(--color-primary) !important;
}